<span class="fa fa-spinner spinner"
      *ngIf="loading"></span>

<!--The whole content below can be removed with the new code.-->
<mat-toolbar class="navbar navbar-dark bg-dark text-white my-nav d-flex justify-content-between" color="primary">
  <a class="" href="#">{{ pageTitle }}</a>
  <div class="">
    <span class="ctive" *ngFor="let item of menu.items">
      <a class="mr-3" routerLink="/{{ item.link }}">{{ item.title }}</a>
    </span>
  </div>
</mat-toolbar>

<div [ngStyle]="{'opacity': loading ? '0.2' : null }"  class='container'   [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''" >
  <router-outlet #o="outlet"></router-outlet>
</div>
