<div class='panel panel-primary' *ngIf='movie'>
    <div class='panel-heading'>
        {{pageTitle + ': ' + movie.Title}}
    </div>

    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <div class='row'>
                    <div class='col-md-3'>Title:</div>
                    <div class='col-md-6'>{{movie.Title}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Year:</div>
                    <div class='col-md-6'>{{movie.Year }}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Type:</div>
                    <div class='col-md-6'>{{movie.Type}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Plot:</div>
                    <div class='col-md-6'>{{movie.Plot}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>IMDB rating:</div>
                    <div class='col-md-6'>
                        {{movie.imdbRating}}
                        <pm-star [rating]='movie.imdbRating'>
                        </pm-star>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Runtime:</div>
                    <div class='col-md-6'>{{movie.Runtime}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-3'>Genre:</div>
                    <div class='col-md-6'>{{movie.Genre}}</div>
                </div>
                
            </div>

            <div class='col-md-6'>
                <img class='center-block img-responsive' 
                     [style.width.px]='200' 
                     [style.margin.px]='2' 
                     [src]='movie.Poster'
                     [title]='movie.Title'>
            </div>
        </div>
    </div>

    <div class='panel-footer'>
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
</div>