

<div class="card bg-card mt-4" *ngIf='movie'>
  <div class="card-header ng-header text-white">
    <div class="d-flex flex-row">
      <i class="fas fa-photo-video logo-footer mt-2 mr-2"></i>
      <h2> Title: {{ movie.Title }}</h2>
    </div>
  </div>

  <div class="card-body ng-body">

    <div class="d-flex flex-row">
      <div class="w-75 mr-4">
        <h5 class="year-color card-title d-flex align-items-center">
          <div class="d-flex flex-row align-items-center">
            <i class="fas fa-calendar-alt mr-2"></i>
            <span class="mr-2">Year:</span>
            <span class=""> {{ movie.Year }}</span>
          </div>
        </h5>

        <h5 class="card-title">
          <div class="d-flex flex-row align-items-center">
            <i class="fab fa-accusoft mr-2"></i>
            Type: {{ movie.Type }}
          </div>
        </h5>

        <blockquote class="blockquote">
          <div class="d-flex flex-row align-items-center">
            <i class="fas fa-file mr-2"></i>
            <cite title="Source Title">Plot: {{ movie.Plot }}</cite>
          </div>
        </blockquote>

        <div class="ng-pink">
          <div class="d-flex flex-row align-items-center">
            <i class="fas fa-star mr-2"></i>
            IMDB rating: {{ movie.imdbRating }}
            <pm-star [rating]='movie.imdbRating'></pm-star>
          </div>
        </div>

        <div class='ng-run'>
          <div class="d-flex flex-row align-items-center">
            <i class="fas fa-tape mr-2"></i>
            Runtime: {{ movie.Runtime }}
          </div>
        </div>

        <div class='ng-text'>
          <div class="d-flex flex-row align-items-center">
            <i class="fas fa-certificate mr-2"></i>
            Genre: {{ movie.Genre }}
          </div>
        </div>
      </div>

      <div class="w-25">
        <div class='detail-image'>
          <img class='center-block img-responsive' [src]='movie.Poster'
            [title]='movie.Title'>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-outline-warning ng-button" (click)='onBack()'>Back</button>
  </div>
</div>

<!-- <div class='panel panel-primary' *ngIf='movie'>
  <div class='panel-heading'>
    {{pageTitle + ': ' + movie.Title}}
  </div>

  <div class='card panel-body'>
    <div class='row'>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-3'>Title:</div>
          <div class='col-md-6'>{{movie.Title}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Year:</div>
          <div class='col-md-6'>{{movie.Year }}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Type:</div>
          <div class='col-md-6'>{{movie.Type}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Plot:</div>
          <div class='col-md-6'>{{movie.Plot}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>IMDB rating:</div>
          <div class='col-md-6'>
            {{movie.imdbRating}}
            <pm-star [rating]='movie.imdbRating'>
            </pm-star>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Runtime:</div>
          <div class='col-md-6'>{{movie.Runtime}}</div>
        </div>
        <div class='row'>
          <div class='col-md-3'>Genre:</div>
          <div class='col-md-6'>{{movie.Genre}}</div>
        </div>

      </div>

      <div class='col-md-6'>
        <img class='center-block img-responsive' [style.width.px]='200' [style.margin.px]='2' [src]='movie.Poster'
          [title]='movie.Title'>
      </div>
    </div>
  </div>

  <div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()'>
      <i class='glyphicon glyphicon-chevron-left'></i> Back
    </a>
  </div>
</div> -->