@import "~font-awesome/css/font-awesome.min.css";
/********* SASS VARIABLES *********/

$white: #ffffff;
$white-light: #e0e0e0;
$bordou: #8e0e00;
$gold: #e2c043;
$gradient-dark: #1f1c18;
$gray: #839496;
$pink: #f9a6a6;
$color-badge: #cb4b16;
$color-text-warning: #d33682;
$red-light: #ff8ec5;

body {
  @extend .ng-gradient-right;
  padding: 0;
  color: $gray !important;
}

.ng-gradient-right {
  background: $bordou;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $gradient-dark, $bordou);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $gradient-dark, $bordou);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ng-gradient-left {
  background: $bordou;
  background: -webkit-linear-gradient(to left, $gradient-dark, $bordou);
  background: linear-gradient(to left, $gradient-dark, $bordou);
}

/* Navbar Styles */
.my-nav {
  filter: alpha(opacity=50);
  background: rgba(255, 0, 0, 0.5);
  position: absolute;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  transition: 300ms;
  -o-transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  padding: 10px 50px !important;
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}

.contain-nav {
  padding: 17px 50px !important;
  font-size: large;

  a {
    text-decoration: none;
  }

  .page-title {
    background-color: transparent;
    text-transform: uppercase;
    position: relative;
    z-index: 9999;
    color: $white;
    letter-spacing: 2px;
    font-weight: 500;
  }

  .page-items {
    a {
      @extend .page-title;
      text-transform: capitalize;
      letter-spacing: 1px !important;
      font-weight: 300;
    }

    a:hover {
      color: $gold;
      font-weight: 400;
    }
  }
}

/* Styles Movies List */
.my-text-warning {
  color: $color-text-warning;
}

.wrapper {
  .my-badge-warning {
    background: $color-badge;
  }

  .search {
    background: #fffbfd !important;
    border-color: #f9a6a6;
  }

  .all-info {
    width: 187px;

    .name-link {
      min-height: 64px;

      a {
        text-decoration: none !important;
      }
    }

    .text-title {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 700;

      &:hover {
        color: #ff90af;
        font-weight: 700;
      }
    }

    .my-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      max-height: 326px;

      img {
        height: 268px !important;
      }
    }

    .year-type {
      font-weight: 900;
      letter-spacing: 0.5px;
      border-bottom: 3px solid #e12b5f !important;
      font-size: 0.8rem;
      text-transform: uppercase;
      width: 32px !important;
      font-weight: 700;
      width: 38px;
      border-bottom: none;
    }
  }
}

.close {
  outline: 1px solid transparent !important;
}

/* Styles Detail Movie */
.bg-card {
  border: 1px solid #b95d5d;
  max-width: 100%;

  .ng-header {
    @extend .ng-gradient-left;
    border: 1px solid #884c4c;
  }

  .ng-body {
    @extend .ng-gradient-left;
    color: $white-light;

    .detail-image {
      img {
        width: 100%;
        box-shadow: 0px 0px 43px -3px $gold;
      }
    }

    .ng-button {
      border: 1px solid $white;
      color: $white;
      width: 110px;
    }

    .year-color {
      color: $pink;
      font-size: 2rem;
    }

    .ng-pink {
      color: $gold;
      font-size: 1.3rem;
    }

    .ng-run {
      color: $red-light;
      font-size: 1.2rem;
    }
  }
}

/* Styles Welcome */
.welcome-image {
  width: 66%;
  margin-top: -6rem;
}

/* Styles Footer */
.ng-footer {
  background: $gradient-dark;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

/* Media Queries */
@media (max-width: 599px) {
  .my-nav {
    height: 100px !important;
  }
}
